*{
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
    

}
html,body{
     height:100%;
    width:100%;
}
#main{
    background-color: rgba(250, 196, 204, 0.183);
    width: 100%;
}
#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display: flex;
    gap: 20px;
}


#nav a{
    display: inline-block;
    font-weight: 800;
    font-size:15px;
    color: #000;
    text-decoration: none;
}
#nav a:hover{
    color:#ff7f7f;
    
}

a img{
    width:35%;
    
}

#nav #centeratag{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    
}
#hero{
    justify-content: space-between;
    align-items: center;
    display: flex;
   width: 100%;
   margin-top: 15vw;
   padding: 0 10vw;
}
#sustain{
    width: 10vw;
}
#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 0;
    opacity: 0.5;
    
}
#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
    /* background-color: red; */
}
#susimagewrapper img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral{
    
    width: 25vw;
   min-height: 37vw;

}
#ephemeral  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral p{
    margin-top: 10%;
    font-size: 1.2vw;
    letter-spacing: -.03vw;
    line-height: 1;
    width: 60%;
}
#imgntext{
   width: fit-content;
   height: fit-content;
}
#ephemeral h1{
    letter-spacing: -.3vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#ephemeral #headings{
    position: absolute;
    top: 6%;
    left: 30%;
}

#visit{
display: flex;
gap: 10px;
align-items: center;
}
#circlev{
    display: flex;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    
}
#circlev i{
    color: #5e5e5e;
}
#circlev:hover{
    background-color: #0000003a;
}
#visit h4{
    font-weight: 400;
    color: #5e5e5e;
}

#motive{
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
    
}
#motive p{
    font-style: italic;
    font-weight: 400;
    position: relative;
    right: 0;
    text-align: right;
    font-size: 1.2vw;
    width: 80%;
}
#motive span{
    
    line-height: 1.8;
    display: inline-block;
    margin: 0 10px;
    border-radius: 100px;
    background-color: red;
    margin: 0 13px;
    margin-bottom: -12px;
}
#onespan{
    width: 60px;
    height: 40px;
    background-image: url(./span1.jpg);
    background-size: cover;
    background-position: center;

}
#twospan{
    width: 80px;
    height: 45px;
    background-image: url(./span2.jpg);
    background-size: cover;
    background-position: center;
    
}
#threespan{
    width: 60px;
    height: 40px;
    background-image: url(./span3.jpg);
    background-size: cover;
    background-position: center;
    
}
#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}
#firstpic{
    width: 17vw;
}
#firstpic #picimg{
   width: 80%;
    height: 22vw;
    margin-bottom: 1.7vw;
 
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#firstpic h1{
    letter-spacing:-.1vw ;
    font-weight: 300;
    font-size: 2vw;
}
#firstpic p{
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    opacity: .8;
    color:#403d3d;  
}

#secondpic{
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

#secondpic #picimg{
    width: 80%;
     height: 35vw;
     margin-bottom: 1.4vw;
} 
#secondpic h1{
    letter-spacing:-.1vw ;
    font-weight: 300;
    font-size: 2vw;
}
#secondpic p{
    width: 50%;
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    opacity: .8;
    text-align: right;
    color:#403d3d;
}


#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;

}
#bimg{
    transform: translate(-0 , -12%);
    width: 55%;
    height: 60vh;
    
    background-color: red;
}
#bimg img{
 width: 100%;
 height:100%;
 object-position: 0% 80% ;
 object-fit: cover;
}
#btext{
    width: 25%;
    padding: 0 3vw;
}
#btext h1 , h2 {
  font-size: 2vw;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;

}
#btext p{
    margin-top: 12px;
    color:#403d3d;
    
}
#future{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height:90vh;
    margin-top: -3.4vw;
}
#future video{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50% , -50%);
    width: 100%;
    
}
#ftext h1{
    margin-top: 125%;
}
#ftext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
}
#ftext button{
    padding: .8vw 1.2vw;
    font-size: .6vw;
    font-weight: 800;
    border-radius: 100px;
    background-color: #c9bbbb76;
    border: 1px solid #5e5e5e;
    color: #474646;
    margin-top: 10px;
}

#ftext button:hover{
    background-color:  #5e5e5e3b;
    color: black;

}
#footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;    
 color: #fff;
 padding: 10px;
}
#footer p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}





